
.header{
	float: left;
	width:100%;
	height:15%;
	margin-top: 2%;
	font-family:arial;
	font-size:8pt;
	color:#32404E;
	text-align:center;
}
.laygambar{
	padding-top: 8%;
	float: left;
	width:100%;
	height:50%;
}
.margin{
	margin-left: 12%;
}
.gambaricon{
float:left;
	width:10%;
	height:10%;
transition: all .2s ease-in-out; 
margin-left:2%;

}
.gambaricon img{
	width: 100%;
}
.kembali{
	float:left;
	width:100%;
	height:10%;
}
.kembali img{
	width: 5%;
	padding-left: 90%;
}
footer{
	float: left;
	width:20%;
	height:5%;
	margin-top: -5%;
	margin-left: 40%;
	border-radius:25px;
	background:#008EB8;
	font-family:arial;
	font-size:8pt;
	color:white;
	opacity:0.7;
	padding-top: 1%;
	padding-bottom: 1%;

}

/*css3 design scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {     
    background: white;    
}
 
::-webkit-scrollbar-thumb {
    background: #257C9F;
	border-radius:10px;
}
.nav{
	display: none;
}
.menu{
	display: none;
}
.nav{
	display: none;
}
.gambaricon:hover{
transform: scale(1.5);
}
.iconabout:hover{
transform: scale(1.8);
}
/*Tampilan hp*/
@media screen and (max-width:760px){
	.header{
		float: left;
		width:100%;
		height:30%;
		background:none;
		font-family:arial;
		font-size:8pt;
		color:#32404E;
		text-align:center;
	}
	.laygambar{
		width:100%;
		height:auto;
		padding-top: 0;

	}
	.margin{
		padding-left: 23%;
	}
	.gambaricon{
		padding-top: 15%;
		width:auto;
	}
	.gambaricon:hover{
		transform: none;
		}
	.gambaricon img{
		width: 40%;
	}
	footer{
		width:60%;
		height:5%;
		margin-left: 20%;
		margin-bottom: 5%;
		font-size:6pt;
		margin-top: 25%;
		padding-top: 1%;
	}
	.kembali{
	float:left;
	width:100%;
	height:5%;
	}
	.kembali img{
		width: 10%;
		padding-left: 85%;
	}
}