body{
	background-color: #007cad;
	margin: 0px;
}
.header{
	
	width:auto;
	height:auto;
	padding: 30px;
	background:#014661;
	font-family:arial;
	color:white;
	font-size: 17pt;

}	
.header img{
	width: 50px;
	position: absolute;
	left: 40px;
	top: 20px;
	cursor: pointer;
}
.header img:hover{
	transform: scale(1.2);
}
.konten{
	position: absolute;
	left: 3.5%;
	top: 20%;
	width: 90%;
	height: auto;
	text-align: justify;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	padding: 20px;
	border-radius: 20px;
	line-height: 1.5;
}


@media screen and (max-width:760px){

	.header{
	
		width:auto;
		height:auto;
		padding: 30px;
		background:#014661;
		font-family:arial;
		color:white;
		font-size: 14pt;
		margin: 0px;
	
	}
	.header img{
		width: 50px;
		position: absolute;
		left: 10px;
		top: 25px;
		cursor: pointer;
	}
	.konten{
		position:initial;
		width: 82%;
		height: auto;
		text-align: justify;
		background-color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12pt;
		padding-right: 40px;
		border-radius: 0px;
		line-height: 1.5;
		margin: 0px;
	}
}