.keluar{
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 60px;
    padding: 1%;
    position: absolute;
    left: 5%;
    top: 12.5%;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: rgb(211, 66, 40);
    z-index: 1;
}
.keluar:hover{
    background-color: rgb(211, 205, 205);
}

#soal10,#soal11{
    text-align: center;
}


.masuk {
    margin-left: 30px;
    margin-right: 10px;
    font-size: 12pt;
}

mjx-container {
    display: inline-block !important;
    margin: 0 !important;
    padding: 0 !important;
}

.text {
    font-size: 20px;
    font-weight: bold;
}

.bg_nav {
    width: 99%;
    background-color: rgb(131, 176, 190);
}

.bg_full {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid black;
    background-color: #007cad;
    color: white;

}

.bg_soal {
    width: 100%;
    padding: 10px 0;
    background-color: rgb(193, 226, 236);
    

}

.soal_nav {
    width: 10%;
    height: 20%;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    float: left;
    margin-left: 8.5%;
    margin-top: 10px;
    box-sizing: border-box;
}

.soal_nav:hover {
    cursor: pointer;
    background-color: rgb(54, 170, 209);
}

.bg_soal span {
    padding: 2px;
    display: inline-block;
    width: 100px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
}

.belum {
    background-color: white;
}

.sudah {
    background-color: rgb(60, 114, 60);
    color: white;
}

.ragu {
    background-color: rgb(255, 255, 52) !important;
}

.fontbesar {
    font-size: 23px;
}

.fontsedang {
    font-size: 20px;
}

.ket {
    width: 100%;
    margin-left: 8.5%;
    margin-top: 10px;
}

.clear {
    clear: both;
}

.selesai {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    width: 80%;
    background-color: #007cad;
    color: white;
    cursor: pointer;
    height: 30px;
    border-radius: 10px;
    line-height: 30px;
    margin-left: 10%;
}

.selesai:hover {
    background-color: rgb(40, 119, 143);
}

.hasil {
    background-color: lightblue;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    box-sizing: border-box;
}

.skor {
    font-size: 50px;
    float: left;
    border: 3px solid rgb(9, 64, 82);
    padding: 15px 15px;
    margin-left: 30px;
    margin-right: 20px;
}

.bnr_slh {
    font-size: 20px;
    margin-top: 5px;
}

.bnr_slh span {
    padding: 0 !important;
    margin: 0 !important;
}

.hasil a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 10px;
    background-color: rgb(131, 176, 190);
    border: 2px solid rgb(9, 64, 82);
    padding: 2px 10px;
    border-radius: 5px;
}

.hasil a:hover {
    background-color: rgb(9, 64, 82);
}

.jrk {
    margin-top: 12px;
}


.bg_pertanyaan {
    width: 100%;
    margin-top: 10px;
    
}

.no {
    background-color: #007cad;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
    border: 1px solid #007cad;
    color: white;
}

.no p {
    margin-left: 20px;
    font-size: 20px;
}

.inti_pertanyaan {
    border-left: 1px solid #007cad;
    border-bottom: 1px solid #007cad;
    border-right: 1px solid #007cad;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 12pt;
  
}

.pertanyaannya {
    border-left: 6px solid rgb(131, 176, 190);
    padding-left: 15px;
    font-size: 12pt;
    
}

.batas {
    margin-top: 20px;
    border-bottom: 1px solid rgb(131, 176, 190);
}

/* radio button */

.bg_pilihan,
.checkbox {
    position: relative;
    margin: 20px 0;
    display: block;
    font-size: 12pt;
}

.bg_pilihan :hover,
.checkbox:hover {
    cursor: pointer;
}


.checkbox {
    display: block;
}

.bg_pilihan input,
.checkbox input {
    position: absolute;
    margin: 5px;
    padding: 0;
    visibility: hidden;
}

.bg_pilihan .textnya,
.checkbox .textnya {
    margin-left: 30px;
    margin-bottom: 0;
}

.nav_pilihan,
.fake-checkbox {
    position: absolute;
    display: block;
    top: 0;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: rgb(23, 157, 197);
}

.nav_pilihan:after,
.fake-checkbox:after {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background: rgb(9, 64, 82);
    transform: translateX(-50%) translateY(-50%);
}

.nav_pilihan {
    border-radius: 50%;
}

.nav_pilihan:after {
    border-radius: 50%;
}

input[type="radio"]:checked+span .nav_pilihan:after {
    display: block;
}

span {
    display: inline-block;
}


/* akhir button */


.nav_sebelum {
    background-color: #007cad;
    width: 24%;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-right: 3%;
    margin-left: 18%;
}

.nav_sebelum:hover {
    background-color: rgb(9, 64, 82);
}

.nav_sebelum p {
    font-size: 11px;
}

.nav_selanjut {
    background-color: #007cad;
    width: 24%;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-right: 3%;

}

.nav_selanjut:hover {
    background-color: rgb(9, 64, 82);
}

.nav_selanjut p {
    font-size: 11px;
}



.nav_ragu {
    font-size: 11px;
}

.nav_ragu:hover {
    background-color: rgb(9, 64, 82);
}

.hilang {
    display: none;
}

.disable {
    background-color: rgb(133, 133, 133) !important;
    color: rgb(37, 37, 37);
    cursor: default !important;
}

.center {
    text-align: center;
    color: white;
    font-size: 14pt;
}


.tt_salah {
    border: 2px solid red;
}

.petunjuk {
    display: inline-block;
    background-color: #007cad;
    color: white;
    width: 40%;
    padding: 3px 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 30px;
    margin: 3px;
    height: 30px;
}

.petunjuk:hover {
    cursor: pointer;
}

.isinya {
    padding: 3px 10px;
    border: 2px solid #007cad;
    margin-left: 3px;
    margin-top: -5px;
    box-sizing: border-box;
    font-size: 10pt;
    margin-right: 2px;
}


ol {
    margin-left: 20px;
}

.data {
    min-height: 670px;
    height: 670x;
}

.dataaa {
    min-height: 670px;
    height: 670px;
 
}

.data_diri {
    margin-top: 10px;
    margin-left: 0px;
    font-size: 12pt;
    box-sizing: border-box;
    border: 2px solid rgb(9, 64, 82);
    padding-top: 10px 0px;
    height: 670px !important;
}

label {
    width: 300px;
    display: inline-block;
    margin-left: 5%;
    font-size: 12pt;
    margin-top: 10px;
}

.mundur {
    display: block;
    width: 292px;
    height: 30px;
    padding: 2px 5px;
    font-size: 12pt;
}

.aaa {
    width: 292px !important;
}

.maju {
    display: block;
    width: 280px;
    height: 30px;
    padding: 2px 5px;
    font-size: 12pt;
}

.lanjut {
    display: inline-block;
    width: 150px;
    padding: 5px 5px;
    background-color: #007cad;
    border-radius: 10px;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 27%;
    font-size: 14px;
}

.lanjut:hover {
    background-color: rgb(25, 106, 133);
    cursor: pointer;
}

.t_hasil {
    margin-left: 5%;
    border-radius: 5px;
    padding: 5px;
    max-width: 312px;
    width: 312px;
    background-color: white;

}

td {
    padding: 5px 0px;
}

.ket_hasil {
    width: 118px;
    font-size: 15px;
    padding: 5px !important;
}

a {
    text-decoration: none;
    color: black;
}

/* ---------------------------------------------------------------------------------- */

@media (min-width : 992px) {
    .t_hasil {
        margin-left: 23%; border: 1px solid #007cad;      
        border-radius: 5px;
        padding: 20px;
        max-width: 530px;
        width: 530px;
    }
    .center{
        color: black;
        font-size: 16pt;
    }
    td {
        padding: 10px 0px;
    }

    .ket_hasil {
        width: 150px;
        font-size: 1.4vw !important;
    }

    .skornya {
        margin-top: 10px;
        margin-left: 0px;
        font-size: 1.6vw;
        box-sizing: border-box;
        border-radius: 10PX;
        padding-top: 10px 0px;
        min-height: auto;
        padding-bottom: 30px;
    }

    ol {
        margin-left: 30px;
    }

    .petunjuk {
        width: 20%;
        font-size: 14pt;
    }

    .isinya {
        font-size: 12pt;
        margin-right: 5px;
    }

    .data_diri {
        margin-top: 10px;
        margin-left: 0px;
        font-size: 14pt;
        box-sizing: border-box;
        border: none;
        padding-top: 10px 0px;
        height: 77vh !important;
    }

    label {
        width: 500px;
        display: inline-block;
        margin-left: 26%;
        font-size: 12pt;
        margin-top: 10px;

    }

    .mundur {
        margin-left: 10px !important;
        display: inline-block;
        width: 323px !important;
    }

    .maju {
        display: inline-block;
        width: 300px;
        padding: 5px 5px;
        font-size: 12pt;
    }

    .aaa {
        width: 323px !important;
        margin-left: 32px !important;
    }

    #nama,
    #sekolah,
    #kelas {
        width: 300px;
        font-size: 1.6vw;
        margin-left: 30px;
        padding: 0px 10px;
    }

    .lanjut {
        display: inline-block;
        width: 200px;
        padding: 5px 5px;
        background-color: #007cad;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
        margin-left: 40%;
        font-size: 1.6vw !important;
    }

    .lanjut:hover {
        background-color: #007cad;
        cursor: pointer;
    }


    .masuk {
        font-size: 1.6vw;
    }

    .soal_nav {
        width: 14%;
        height: 18%;
        margin-left: 8.5%;
    }

    .hasil {
        padding: 10px;
        margin-top: 8px;
    }

    .skor {
        font-size: 1.8vw;
        padding: 15px 15px;
        margin-left: 15px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .bnr_slh {
        font-size: 1.4vw;
        margin-top: 2px;
    }


    .jrk {
        margin-top: 12px;
        margin-bottom: 10px;
    }

    .pertanyaannya {
        padding-left: 15px;
        font-size: 12pt;
    }

    .no p {
        margin-left: 1.6vw !important;
    }

    .nav_sebelum {
        width: 26%;
    }

    .nav_sebelum p {
        font-size: 1.6vw;
    }

    .nav_selanjut {
        width: 26%;
    }

    .nav_selanjut p {
        font-size: 1.6vw;
    }

    .nav_ragu {
        width: 26%;
    }

    .nav_ragu p {
        font-size: 12pt;
    }

    .bg_pilihan,
    .checkbox {
        font-size: 12pt;
    }

    .dataaa {
        min-height: auto;
        background-color: white;
        height: auto;
    }

    .data {
        min-height: auto;
        height: auto;
        background-color: white;
    }

    .bg_soal span {
        padding: 2px;
        display: inline-block;
        width: 60px;
        margin-bottom: 5px;
        text-align: center;
        border-radius: 5px;
    }

    .fontsedang {
        font-size: 1.3vw;
    }
}
@media (max-width : 992px) {
.keluar{
 
        background-color: rgb(255, 255, 255);
        width: 40px;
        height: 40px;
        padding: 1%;
        position: absolute;
        left: 1%;
        top: 1%;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        color: rgb(211, 66, 40);
        font-size: 10pt;

}
.keluar img{
    width: 25px;
}
}