body{
  background-color: #007cad;
}
.head{
	
	width:auto;
	height:55%;
	padding: 30px;
	background:#014661;
	font-family:arial;
	color:white;
	font-size: 17pt;
  border-radius: 5px;
	

}
.head img{
	width: 50px;
	position: absolute;
	left: 40px;
	top: 20px;
	cursor: pointer;
}
.head img:hover{
	transform: scale(1.2);
}
.popup{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.8);
  }
  .isipopup{
    position: absolute;
    top:30%;
    left:18%;
    background-color: white;
    color: black;
    width: 60%;
    height: 20%;
    padding: 2%;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  button {
    
    border-radius: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-left: 1%;
    width: 150px;
    height: 40px;
    background-color:  #ffffff; 
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
  }
  .btnmulai{
    margin-left: 0;
  }
  .btnkecil{
    margin-left: 0;
    width: 30px;
    height: 25px;
    background-color: white;
    color: black;
  }
  .btn_simpan{
    background-color: rgb(8, 48, 82);
    color: white;
  }
  button a{
    text-decoration: none;
    color: white;
  }
  
button:hover{
    background-color:brown;
  }
/* Table */
	.tabelwarna	table {
			margin: auto;
			font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
			font-size: 12px;
            overflow: scroll;
            width: 90%;
            
		}
        table {
            width: 40%;
            text-align: center;
            margin-left: 8%;
        }
        .judul{
            background-color: teal;
            color: white;
            min-height: 5%;
            position: absolute;
            left:28.5%;
            top: 20%;
            padding: 4px;
            border-radius: 10px;
            
        }
    .header{
        width: 30%;
        height: 4%;
        text-align: center;
        background-color: #0e97ce;
        color: white;
        margin-top: 1%;
        padding-top: 2px;
    }
        button {
            background-color: #000500; 
            border: none;
            color: white;
            padding: 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            
          }
          button a{
            text-decoration: none;
            color: white;
          }

		.tabelwarna table th{
            color: white;
            width: 10%;
            height: 5%;
            background-color: rgb(5, 77, 104);;
            text-align: center;
        }
        .tabelwarna table td{
            background-color:rgb(166, 238, 243);
                padding-left: 2%;
                padding-right: 1%;
        }
        .btnvidio{
            border-radius: 5px 5px 5px 5px;
            padding: 10px;
            margin-top: 2px;
            min-width: 200px;
            background-color:  #0a3546; 
          }
          .nav{
            border-radius: 10px 10px 10px 10px;
            padding: 5px;
            margin: 0;
            min-width: 100px;
            background-color:  #13bafc; 
          }

        @media screen and (max-width:600px){
            .tabelwarna table td{
                padding-left: 1%;
                padding-right: 1%;
            }
            .tabelwarna	table {
                overflow: scroll;
                width: 100%;
            }

            .head{
	
              width:auto;
              height:auto;
              padding: 10px;
              background:#014661;
              font-family:arial;
              color:white;
              font-size: 17pt;
              border-radius: 5px;
              
            
            }
            .head img{
              width: 50px;
              position:initial;
              cursor: pointer;
            }
        }